@mixin title($font-size: 4.8rem, $font-weight: 400, $line-height: 1.2, $color: $color-accent, $text-transform: uppercase)
  font-family: "Oswald"
  font-size: $font-size
  font-weight: $font-weight
  font-style: normal
  line-height: $font-size * $line-height
  color: $color
  text-transform: $text-transform

@mixin text($font-size: 1.6rem, $font-weight: 400, $line-height: 1.7, $color: $color-grey, $text-transform: none)
  font-family: "Rubik"
  font-size: $font-size
  font-weight: $font-weight
  font-style: normal
  line-height: $font-size * $line-height
  color: $color
  text-transform: $text-transform

@mixin button($font-size: 1.6rem, $font-weight: 400, $line-height: 1.5, $color: $color-light, $text-transform: none)
  display: inline-block
  padding: 1rem 3rem
  text-align: center
  vertical-align: middle
  font-family: "Rubik"
  font-size: $font-size
  font-weight: $font-weight
  font-style: normal
  line-height: $font-size * $line-height
  color: $color
  text-transform: $text-transform
  border-radius: 0.5rem
  border: 2px solid $color
  background-color: transparent
  transition: color 0.5s ease, background-color 0.5s ease
  &:hover
    background-color: $color
    color: $color-dark

@mixin button-solid($px: 3rem, $py: 1rem, $font-size: 1.6rem, $font-weight: 400, $line-height: 1.5, $bg-color: $color-accent, $color: $color-light, $border-radius: 0.5rem, $text-transform: capitalize)
  display: inline-block
  padding: $py $px
  text-align: center
  vertical-align: middle
  font-family: "Rubik"
  font-size: $font-size
  font-weight: $font-weight
  font-style: normal
  line-height: $font-size * $line-height
  color: $color
  text-transform: $text-transform
  border-radius: $border-radius
  border: 2px solid $bg-color
  background-color: $bg-color
  transition: color 0.5s ease, background-color 0.5s ease
  &:hover
    background-color: rgba($bg-color, 0.5)

@mixin flex-center()
  display: flex
  justify-content: center
  align-items: center
