@media (max-width: 575px)
  .about
    &-video
      height: 36rem

  .footer
    padding: 6rem 0 8rem
    &__title
      margin-bottom: 1.5rem
    &__item
      &:nth-child(1)
        width: 100%
        margin-bottom: 2rem
      &:nth-child(2)
        width: 100%
        margin-bottom: 2rem


  .post-intro
    padding: 8.4rem 0 4rem
    &__title
      font-size: 4rem

  .post
    padding-bottom: 4rem
    &__section-title
      margin-bottom: 2rem

    .comments
      &__item
        &--level1
          margin-left: 1rem
        &--level2
          margin-left: 2rem
      .comment
        &__photo-wrapper
          margin-right: 1.5rem
          width: 4rem
          min-width: 4rem
          height: 4rem
