@media (max-width: 991px)
  .container
    max-width: 700px

  .header
    padding: 2.5rem 0
    &__nav
      display: none

    .mmenubtn
      &--open
        display: block

  .intro
    padding: 8.4rem 0
    &__title
      font-size: 6.4rem
      line-height: 1

    .owl-carousel
      .owl-dots
        bottom: 3rem

  .services
    padding-bottom: 5rem
    &__title
      font-size: 4.2rem
    &__text
      margin: 0 auto 3rem
      max-width: 100%
    .card
      width: 48%
