.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  width: 100%
  padding: 3.5rem 0
  background-color: $color-dark
  transition: padding 0.3s ease
  &--scroll
    padding: 2.5rem 0

  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between

  .logo
    @include text($font-size: 2rem, $font-weight: 700, $color: $color-accent, $text-transform: uppercase)

  .nav
    &__list
      display: flex
      align-items: center
    &__item
      margin-left: 3rem
      &:first-child
        margin-left: 0
      &.active
        .nav__link
          color: $color-accent
    &__link
      padding: 2rem 0
      transition: color 0.3s ease
      @include text($font-size: 1.6rem, $font-weight: 400, $color: $color-light, $text-transform: capitalize)
      &:hover
        color: $color-accent
      &.active
        color: $color-accent

  .dropdown
    position: relative
    &:hover
      .dropdown
        &__list
          &--level1
            margin-top: 0
            opacity: 1
            visibility: visible
    &__list
      &--level1
        position: absolute
        top: 4rem
        left: 0
        z-index: 10
        width: 16rem
        margin-top: 2rem
        opacity: 0
        visibility: hidden
        border-top: 2px solid $color-accent
        background-color: $color-light
        transition: margin-top 0.3s ease, opacity 0.3s ease, visibility 0.3s ease
      &--level2
        position: absolute
        top: 0
        left: 16rem
        z-index: 10
        width: 16rem
        opacity: 0
        visibility: hidden
        border-top: 2px solid $color-accent
        background-color: $color-light
        transition: left 0.3s ease, opacity 0.3s ease, visibility 0.3s ease
    &__item
      width: 100%
      cursor: pointer
      &.active
        .dropdown
          &__link
            background-color: rgba($color-grey, 0.25)
      &--menu
        position: relative
        &:hover
          .dropdown
            &__list
              &--level2
                opacity: 1
                visibility: visible
                left: 14rem
    &__link
      display: inline-block
      width: 100%
      padding: 1rem 2rem
      transition: background-color 0.3s ease
      @include text($font-size: 1.6rem, $font-weight: 400, $color: $color-dark, $text-transform: capitalize)
      &:hover
        background-color: rgba($color-grey, 0.25)
    &__icon
      font-size: 1.4rem
      margin-left: 0.4rem

  .mmenubtn
    font-size: 2.2rem
    transition: color 0.3s ease
    &:hover
      color: $color-accent
    &--open
      display: none
      color: $color-light
    &--close 
      display: inline-block
      margin-bottom: 2rem
      color: $color-grey

  .mmenu
    position: fixed
    top: 0
    right: -25rem
    z-index: 1005
    width: 25rem
    height: calc(100vh)
    padding: 2.5rem 2rem
    opacity: 0
    background-color: $color-light
    text-align: right
    transition: right 0.5s ease, opacity 0.5s ease
    overflow-y: auto
    &--visible
      right: 0
      opacity: 1

    &__list
      text-align: left
    &__link
      display: inline-block
      width: 100%
      padding: 1rem 2rem
      transition: color 0.3s ease
      @include text($font-size: 1.6rem, $font-weight: 400, $color: $color-dark, $text-transform: capitalize)
      &:hover
        color: $color-accent

    &-dropdown1
      &__link
        padding: 0.7rem 0
        &--open
          padding: 1rem 2rem
      &__list
        padding-left: 3rem

    &-dropdown2
      &__link
        padding: 0.4rem 0
        &--open
          padding: 0.7rem 0
      &__list
        padding-left: 2rem

    &-dropdown1, &-dropdown2
      &__item
        background-color: $color-light
      &__list
        display: none
      &__link
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        transition: color 0.3s ease
        @include text($font-size: 1.6rem, $font-weight: 400, $color: $color-dark, $text-transform: capitalize)
        &:hover
          color: $color-accent
        &.active
          color: $color-accent
          .mmenu
            &-dropdown1, &-dropdown2
              &__item-icon
                transform: rotate(180deg)
      &__item-icon
        transition: transform 0.3s ease
